{% extends "layout/master.html" %}
{% load compress %}
{% load static %}
{% load i18n %}
{% block styles %}
<link href="{% static 'css/glightbox.min.css' %}" rel="stylesheet">
{% endblock %}
{% block hero %}
<section id="section-hero">
    <div class="section-inner" data-aos="zoom-in" data-aos-delay="100">
        <div class="section-hero-content" style="background-image: url({{category_data.bg_image.url}})">
            <div class="section-container">
                <div class="container">
                    <h1>{{category_data.name}}</h1>
                    <p>
                        {{category_data.description}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block main %}
<!-- ======= product Section ======= -->
<section id="product">
    <div class="container" data-aos="fade-up">

        <div class="row product-container" data-aos-duration="1000" data-aos="fade-up" data-aos-delay="100">
            {% for product in products %}
            <div class="col-lg-4 col-md-6 product-item">
                <div class="product-wrap">
                    <figure>
                        <img src="{{product.image.url}}" class="img-fluid" alt="{{product.name}}">
                        <a href="{{product.image.url}}" class="link-preview product-lightbox"
                           data-gallery="productGallery" title="{{product.name}}"
                           data-description="{{product.description}}"><i class="bi bi-eye-fill"></i></a>
                    </figure>

                    <div class="product-info">
                        <h2>{{product.name}}</h2>
                        <p>{{product.price}} {{_("YR")}}</p>
                        <p>{{product.description}}</p>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
        {% if products.paginator.num_pages > 1 %}
        <ul class="pagination justify-content-center" dir="ltr">
            {% if products.has_previous %}
            <li class="page-item">
                <a href="?page={{ products.previous_page_number }}" class="page-link">&laquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link">&laquo;</a>
            </li>
            {% endif %}

            {% for page_num in products.paginator.page_range%}
            {% if products.number == page_num %}
            <li class="page-item active"><a class="page-link">{{page_num}}</a></li>
            {% else %}
            <li class="page-item"><a href="?page={{page_num}}" class="page-link">{{page_num}}</a></li>
            {% endif %}
            {% endfor %}

            {% if products.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ products.next_page_number }}">&raquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link">&raquo;</a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</section><!-- End product Section -->

{% include "layout/contact.html" %}

{% endblock %}
{% block scripts %}
<script src="{% static 'js/glightbox.min.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<!-- Template Main JS File -->
<script src="{% static 'js/category.js' %}"></script>
{% endblock %}
