{% extends "layout/master.html" %}
{% load compress %}
{% load static %}
{% load i18n %}
{% block styles %}
<link href="{% static 'css/swiper-bundle.min.css' %}" rel="stylesheet">
{% endblock %}
{% block hero %}
<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" class="slide carousel-fade">
            <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" style="background-image: url('{{data.bg_image.url}}')">
                    <div class="carousel-container">
                        <div class="container">
                            <h1 class="animate__animated animate__fadeInDown">{{ _("Samra'a Aden") }}</h1>
                            <p class="animate__animated animate__fadeInUp">
                                {{ data.bg_description }}
                            </p>
                            <a href="{{ data.twitter }}" class="btn-get-started animate__animated animate__fadeInUp"
                               target="_blank">
                                <i class="bi bi-twitter"></i></a>
                            <a href="{{ data.facebook }}" class="btn-get-started animate__animated animate__fadeInUp"
                               target="_blank">
                                <i class="bi bi-facebook"></i></a>
                            <a href="{{ data.instagram }}" class="btn-get-started animate__animated animate__fadeInUp"
                               target="_blank">
                                <i class="bi bi-instagram"></i></a>
                            <a href="{{ data.youtube }}" class="btn-get-started animate__animated animate__fadeInUp"
                               target="_blank">
                                <i class="bi bi-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block main %}
<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
    <div class="container" data-aos="fade-up">
        <div class="row count-cols gy-4">
            <div class="col-md-3" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                <div class="count-col bg-info-subtle">
                    <div class="img">
                        <div class="icon border-0 bg-info"><i class="bi bi-calendar2-week"></i></div>
                    </div>
                    <h2 class="title text-info-emphasis">{{ data.card1 }}</h2>
                </div>
            </div>
            <div class="col-md-3" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                <div class="count-col bg-success-subtle">
                    <div class="img">
                        <div class="icon border-0 bg-success"><i class="bi bi-people"></i></div>
                    </div>
                    <h2 class="title text-success-emphasis">{{ data.card2 }}</h2>
                </div>
            </div>
            <div class="col-md-3" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                <div class="count-col bg-warning-subtle">
                    <div class="img">
                        <div class="icon border-0 bg-warning"><i class="bi bi-rocket-takeoff"></i></div>
                    </div>
                    <h2 class="title text-warning-emphasis">{{ data.card3 }}</h2>
                </div>
            </div>
            <div class="col-md-3" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                <div class="count-col bg-danger-subtle">
                    <div class="img">
                        <div class="icon border-0 bg-danger"><i class="bi bi-graph-up-arrow"></i></div>
                    </div>
                    <h2 class="title text-danger-emphasis">{{ data.card4 }}</h2>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Counts Section -->

<!-- ======= About Us Section ======= -->
<section id="about" data-aos-duration="1000" data-aos="fade-up" style="background-image: url('{{data.about_us_bg_image.url}}')">
    <div class="container" data-aos-duration="1000" data-aos="fade-up">
        <header class="section-header">
            <h2>{{_("about_us")}}</h2>
            <p>{{ data.about_us }}</p>
        </header>
        <div class="row about-cols">
            <div class="col-md-4" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                <div class="about-col">
                    <div class="img">
                        <img src="{{ data.our_goal_image.url }}" alt="{{_('our_goal_text')}}" class="img-fluid">
                        <div class="icon"><i class="bi bi-bar-chart"></i></div>
                    </div>
                    <h2 class="title"><a>{{_("our_goal_text")}}</a></h2>
                    <p>
                        {{ data.our_goal_text }}
                    </p>
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <div class="about-col">
                    <div class="img">
                        <img src="{{ data.our_vision_image.url }}" alt="{{_('our_vision_text')}}" class="img-fluid">
                        <div class="icon"><i class="bi bi-brightness-high"></i></div>
                    </div>
                    <h2 class="title"><a>{{_("our_vision_text")}}</a></h2>
                    <p>
                        {{ data.our_vision_text }}
                    </p>
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                <div class="about-col">
                    <div class="img">
                        <img src="{{ data.our_message_image.url }}" alt="{{_('our_message_text')}}" class="img-fluid">
                        <div class="icon"><i class="bi bi-envelope"></i></div>
                    </div>
                    <h2 class="title"><a>{{_("our_message_text")}}</a></h2>
                    <p>
                        {{ data.our_message_text }}
                    </p>
                </div>
            </div>

        </div>
    </div>
</section><!-- End About Us Section -->

<!-- ======= Categories Section ======= -->
<section id="categories" class="categories">
    <div class="container" data-aos-duration="1000" data-aos="fade-up">
        <header class="section-header">
            <h2>{% translate "Our Categories" %}</h2>
            <p>{{ data.about_our_categories }}</p>
        </header>
        <div class="row">
            <div class="col-lg-6" data-aos-duration="1000" data-aos="zoom-out">
                <img src="{{ data.our_categories_image.url }}" class="img-fluid" alt="{% translate 'Our Categories' %}">
            </div>
            <div class="col-lg-6 mt-5 mt-md-0 d-flex">
                <div class="row align-self-center gy-4">
                    {% for category in categories %}
                    <div class="col-md-6" data-aos-duration="1000" data-aos="zoom-out" data-aos-delay="{% widthratio 100 1 forloop.counter %}">
                        <a href="{{category.category_url}}">
                            <div class="category-box d-flex align-items-center justify-content-center">
                                <h2>{{category.name}}</h2>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div> <!-- / row -->

        {% for category in categories %}
        <div class="row mt-5" data-aos-duration="1000" data-aos="{% if forloop.counter|divisibleby:2 %}fade-right{%else%}fade-left{%endif%}">
            {% if forloop.counter|divisibleby:2 %}
            <div class="col-lg-4" data-aos-duration="1000" data-aos="fade-right" data-aos-delay="100">
                <img src="{{category.image.url}}" class="img-fluid p-4" alt="{{category.name}}">
            </div>
            <div class="col-lg-8 my-auto">
                <header class="category-header">
                    <h2>{{category.name}}</h2>
                </header>
                <p>
                   {{category.description}}
                </p>
            </div>
            {%else%}
            <div class="col-lg-8 my-auto">
                <header class="category-header">
                    <h2>{{category.name}}</h2>
                </header>
                <p>
                    {{category.description}}
                </p>
            </div>
            <div class="col-lg-4" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="100">
                <img src="{{category.image.url}}" class="img-fluid p-4" alt="{{category.name}}">
            </div>
            {%endif%}
        </div>
        {% endfor %}
    </div>
</section><!-- End Features Section -->

<!-- ======= Agents Section ======= -->
<section id="agents" class="section-bg">
    <div class="container" data-aos-duration="1000" data-aos="fade-up">
        <header class="section-header">
            <h2>{{ _("agents") }}</h2>
        </header>
        <div class="agents-slider swiper" data-aos-duration="1000" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
                {% for agent in data.agent_set.all %}
                <div class="swiper-slide">
                    <div class="agent-item">
                        <img src="{{ agent.image.url }}" class="agent-img" alt="{{ agent.name }}">
                        <h3>{{ agent.name }}</h3>
                        <h4>{{ agent.address }}</h4>
                        <p>
                            {{ agent.description }}
                        </p>
                    </div>
                </div><!-- End agent item -->
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section><!-- End agents Section -->

<!-- ======= branches Section ======= -->
<section id="branches">
    <div class="container" data-aos-duration="1000" data-aos="fade-up">
        <div class="section-header">
            <h2>{{_("branches")}}</h2>
            <p></p>
        </div>
        <div class="row">
            {% for branch in data.branch_set.all %}
            <div class="col">
                <div class="branch" data-aos-duration="1000" data-aos="fade-up" data-aos-delay="100">
                    <img src="{{ branch.image.url }}" class="img-fluid" alt="{{ branch.name }}">
                    <div class="branch-info">
                        <div class="branch-info-content">
                            <h3>{{ branch.name }}</h3>
                            <span>{{ branch.address }}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section><!-- End branch Section -->

{% include "layout/contact.html" %}

{% endblock %}
{% block scripts %}
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<!-- Template Main JS File -->
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}